<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header(${pageTitle})">

	<nav class="navbar navbar-expand-md bg-dark border-bottom border-body" data-bs-theme="dark">
		<div class="container justify-content-center py-1">
			<a class="navbar-brand" href="/">
				<img class="object-fit-contain" alt="Logo" th:src="@{/img/logo.jpg}">
			</a>
<!--			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"-->
<!--				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--				<span class="navbar-toggler-icon"></span>-->
<!--			</button>-->
<!--			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--				<div class="navbar-nav">-->
<!--					<a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--					<a class="nav-link" href="#">Features</a>-->
<!--					<a class="nav-link" href="#">Pricing</a>-->
<!--					<a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</nav>

</th:block>

</html>